@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

body {
	background-color: #f9f9f9;
	font-family: "Lato", sans-serif;
}

#root {
	min-height: 98vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.main-app-component {
	display: flex;
	flex-direction: column;
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 5vw;
	padding-block: 2vw;
	border-top: 2px solid #108cff;
}

@media screen and (width > 600px) {
	footer {
		margin-top: 2vw;
		padding-block: 1vw;
	}
}
